<h1>Github Search</h1>
<div id="gethub_search"> 
<% if @count != 0 %>
    <table class="table table-striped datatable">
    	<tr>
    		<th>No</th>
    		<th>User</th>
    		<th>Keyword</th>
    		<th>Repository</th>
    		<th>URL</th>
    	</tr>
    	<% @count.times do |index| %>
    	<tr>
    		<td><%= index+1 %></td>
    		<td><%= link_to @data[:user][index], @data[:user_link][index], :target => "_blank" %></td>
    		<td><%= @data[:key][index] %></td>
    		<td><%= @data[:repository][index] %></td>
    		<td><%= link_to @data[:file_name][index], @data[:html_url][index], :target => "_blank" %></td>
    	</tr>
    	<% end %>
    </table> 
<%else%>
    <br />
    <h3>No match found..!!!</h3>
    <p>
    <%= link_to "Click to add new Keyword", keywords_path, :target => "_blank" %> | 
    <%= link_to "Click to add new User", users_path, :target => "_blank" %>
    </p>
<% end %>
</div>

<!-- <p>Total Count = <%= @total_count %> </p>

<p>File Name =  <%= @file_name %></p>

<p>Path =  <%= @path %></p>

<p>URL =  <%= @html_url %></p>

<p>repository =  <%= @repository %></p> -->


