<h1>Github Search</h1>

<div id="gethub_search"> 
				<% if @count != 0 %>
        <table class="table table-striped datatable">
        	<tr>
        		<th>No</th>
        		<th>Repository</th>
        		<th>File Name</th>
        		<th>Path</th>
        		<th>URL</th>
        	</tr>
        	<% @count.times do |index| %>
        	<tr>
        		<td><%= index+1 %></td>
        		<td><%= @repository[index] %></td>
        		<td><%= @file_name[index] %></td>
        		<td><%= @path[index] %></td>
        		<td><%= @html_url[index] %></td>
        	</tr>
        	<% end %>
        </table> 
        <% end %>
    </div>

<!-- <p>Total Count = <%= @total_count %> </p>

<p>File Name =  <%= @file_name %></p>

<p>Path =  <%= @path %></p>

<p>URL =  <%= @html_url %></p>

<p>repository =  <%= @repository %></p> -->


