<!DOCTYPE html>
<html>
<head>
  <title>Github Search</title>
 <!--  <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
 -->
  <%= stylesheet_link_tag "application", params[:controller], :media => "all" %>
  <%= javascript_include_tag "application", params[:controller] %>
  <%= csrf_meta_tags %>
</head>
<body>
 <!-- <div class="container"> -->
  <%= render 'layouts/header' %>
  <%= yield %> 
 <!--  </div> -->
</body>
</html>
